<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='reset.css') }}" />
    <!-- https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>My Baby Monitor</title>  
</head>
<body>
    <div class="main">
        <h1>Your Baby Monitor</h1>
        <nav>
            <ul>
                <li><a href="/getdata">Get Data</a></li>
                <li><a href="/setthreshold">Set Threshold</a></li>
                <li><a href="/livestream">Livestream</a></li>
                <li><a href="/recording">Recordings</a></li>
            </ul>   
        </nav> 
    </div>
    <div id="divtwo" class="main">
        <form method="post" action="/getdata">
            <div class="formElements">
                <h2 class="formElements"> Get Sensor Data </h2>
                <label> Enter Sensor ID </label>
                <input type="text" name="sensorID"/>
            </div>
            <input class="submit" type="submit"/>
        </form>
    </div>
{% if table %}
    <div id="dataTable" class="main">
        <table class="dataTable">
            <tr>
              <th>Sensor ID</th>
              <th>Date</th>
              <th>Time</th>
              <th>Value</th>
            </tr>
        {% for entry in entries %}
            <tr>
                <td>{{entry.sensorID}}</td>
                <td>{{entry.date}}</td>
                <td>{{entry.time}}</td>
                <td>{{entry.value}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endif %}
</body>
</html>