<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='reset.css') }}" />
    <!-- https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>My Baby Monitor</title>  
</head>
<body>
    <div class="main">
        <h1>Your Baby Monitor</h1>
        <nav>
            <ul>
                <li><a href="/getdata">Get Data</a></li>
                <li><a href="/setthreshold">Set Threshold</a></li>
                <li><a href="/livestream">Livestream</a></li>
                <li><a href="/recording">Recordings</a></li>
            </ul>   
        </nav> 
    </div>
    <div id="divtwo" class="main">
        <form method="post" action="/recording">
            <div class="formElements">
                <h2 class="formElements"> View Recordings </h2>
                <label> Recording Type </label>
                <select name="type">
                    <option>Choose Recording Type</option>
                    <option>Audio</option>
                    <option>Video</option>
                </select>
            </div>
            <input class="submit" type="submit"/>
        </form>
    </div>
    {% if video %}
        <div id="video" class="main">
            <video width="560" height="340" preload controls>
                <source src="{{ url_for('static',filename='recordings/video/video0.mp4') }}" type='video/mp4'> 
            </video>
        </div>
    {% elif audio %}
        <div id="divthree" class="main">
            <audio controls>
                <source src="{{ url_for('static',filename='recordings/audio/test0.wav') }}" type='audio/wav'> 
            </audio>
        </div>
    {% endif %}
</body>
</html>