<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='reset.css') }}" />
    <!-- https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>My Baby Monitor</title>  
</head>
<body>
    <div class="main">
        <h1>Your Baby Monitor</h1>
        <nav>
            <ul>
                <li><a href="/getdata">Get Data</a></li>
                <li><a href="/setthreshold">Set Threshold</a></li>
                <li><a href="/livestream">Livestream</a></li>
                <li><a href="/recording">Recordings</a></li>
            </ul>   
        </nav> 
    </div>
    <div id="divtwo" class="main">
        <form method="post" action="/recording">
            <div class="formElements">
                <h2 class="formElements"> View Recordings </h2>
                <label> Recordings </label>
                <select name="recording_name">
                <option>Choose Recording</option>
                {% for recording in recordings %}
                    <option>{{recording.name}}</option>
                {% endfor %}
                </select>
            </div>
            <input class="submit" type="submit"/>
        </form>
    </div>
{% if video %}
    <div id="video" class="main">
        <h1>Recording: {{name}}</h1>
        <h2>Date: {{date}} Time: {{time}}</h2>
        <video width="560" height="340" preload controls>
            <source src="{{ url_for('static',filename='recordings/video/') }}{{name}}" type='video/mp4'> 
        </video>
    </div>
{% endif %}
</body>
</html>